.main {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: white!important;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  height: 800px;
  overflow-y: auto;
  overflow-x: fixed;
}

.result {
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 5px;
  overflow: hidden;
  transition: transform 0.3s;
  display: flex;
}

.result:hover {
  transform: scale(1.02);
}

.result img {
  max-width: 100px;
  height: auto;
  border-radius: 8px 0 0 8px;
}

.result-content {
  flex: 1;
  padding-top: 1px;
  padding-left: 70px;
  padding-bottom: 1px;
}

.result-title {
  font-size: 1.2em;
  margin-bottom: 1px;
  color: #333;
}

.result-description {
  color: #666;
  padding-bottom: 1px;
}

.result-link {
  display: block;
  color: #007BFF;
  text-decoration: none;
  margin-top: 5px;
}

.top-search {
  display: block;
  color: green;
  text-decoration: none;
  margin-left: 50px;
}

.back-link {
  color: #007BFF;
  text-decoration: none;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  padding-top: 100px !important;
  padding-bottom: 20px !important;
}
