.main {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: white!important;
  margin: 0;
  padding-bottom: 0px !important;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

.result {
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 5px;
  overflow: hidden;
  transition: transform 0.3s;
  display: flex;
}

.result:hover {
  transform: scale(1.02);
  background-color: lightgreen;

}

.result img {
  max-width: 100px;
  height: auto;
  border-radius: 8px 0 0 8px;
}

.result-content {
  flex: 1;
  padding-top: 0px;
  padding-left: 30px;
  padding-bottom: 15px;
  max-height: 40px;
}

.result-title {
  font-size: 1.2em;
  margin-bottom: 1px;
  color: #333;
}

.result-description {
  color: #666;
  padding-bottom: 1px;
}

.result-link {
  display: block;
  color: #007BFF;
  text-decoration: none;
  margin-top: 5px;
}

.top-search {
  display: block;
  color: green;
  text-decoration: none;
  margin-left: 50px;
}

.back-link {
  color: #007BFF;
  text-decoration: none;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  padding-top: 100px !important;
  padding-bottom: 20px !important;
}
.content-scroll{
  overflow-y: auto !important;
  height: 300px;
  margin-bottom: 50px;
  max-width: 950px;
  margin:auto !important;
  margin-bottom: 70px !important;
}

.search-query{
  align-items: start !important;
  width: 500px !important;
}

